.block-row {
    padding: 15px 10px;
}

.cadet-blue {
    background: #5f9ea0;
}

.burlywood {
    background: #ffd39b;
}

.azure {
    background: #e0eeee;
}

.alice-blue {
    background: #f0f8ff;
}

.corn-silk {
    background: #5f9ea0;
}
