{% load cms_tags %}

<div class="footer">
{% for child in children %}
    <div class="col-xs-4">
        <ul>
            <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">
                {{ child.get_menu_title }}
            </a>
            {% if child.children %}
                {% for subchild in child.children %}
                    <li class="footer-elements col-xs-offset-2">
                        <i class="fa fa-chevron-right"></i>
                        <a href="{{ subchild.attr.redirect_url|default:subchild.get_absolute_url }}">
                            {{ subchild.get_menu_title }}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
{% endfor %}
</div>